.fullpost-container {
  /* background: #e2e8d5; */
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin: 0 2%;
}

.fullpost-content {
  background: #fbecae;
  padding: 3%;
}

.fullpost-heading {
  min-height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}

.fullpost-image {
  width: 100%;
  height: 250px;
}