body {
  background-color: #90c45b;
  /* #d9e7cb*/
}

.posts-container {
  display: grid;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: auto;
}